.title {
    font-family: 'Bungee Shade', cursive;
    padding-left: 1em;
}

#searchButton {
    background-color: rgb(82, 54, 7);
}
.button.button.is-info.mt-2.is-fullwidth.history {
    background-color: rgb(104, 63, 2);
}

/* jonathan */
#myMap {
    height: 58%;
    width: 100%;
    z-index: 1;
}
.recent {
    font-size: 23px;
}
/* jonathan */

.container {
    padding: 0.5em;
    padding-top: 0;
}

#weather {
    float: right;
    display: inline;
}

.hero-body {
    background-color: rgb(120, 63, 7);
    display: inline;
    font-size: large;
    padding: 10px;
}

.listcontainer {
    list-style: none;
    padding-bottom: 0.5rem;
    padding-top: 0;
}

.body {
    
    height: 100vh
}

.cafe {
    margin-bottom: 20px;
}



#coffeeShops {
    display: flex;
    flex-direction: column;
    height: 280px;
    box-shadow: 5px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    -webkit-line-clamp: 2;

    text-overflow: ellipsis;
}


.cafeoutputs {
    -webkit-line-clamp: 2;

    text-overflow: ellipsis;
}

.gif {
    width: 50px;
    height: 30%
}

.container {
    padding-top: 3em;
    margin-top: 10px;
    padding-top: 0px;
}

.row col-xs col-xs {
    padding: 0;
}

#soundcloud {
    height: 80px;
    width: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.columns {
    column-gap: 2rem;
    padding-top:2rem;

}

.box #soundCloud {
    box-sizing: 50px;

}
.body {
    background-color: blanchedalmond;
    
}

.flexbox {
    background-color: blanchedalmond;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.box {
    padding: 0.75rem;
    padding-top: 0.3rem;
}

.barista {
    height: 100px
}

.label{
    font-size: 24px;
}
.custom-header{
    margin-bottom: 0;
}

.sound{
    margin-top: 5px;
}

.second-column{
    margin-top: 10px;
    padding-bottom: 0;
    height: 620px;
}

.cafe-info:hover{
    box-shadow: 5px 5px 5px rgb(120, 63, 7);;
    cursor: pointer;
}
